.login-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 410px;
    height: 450px;
    /* border: 2px solid; */
    /* margin-top: 1rem; */
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 1rem 1rem 40rem rgba(0, 0, 0, 0.1);
    /* margin: 5rem auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



h1,h4{
    text-align: left;
    /* margin-left: 1rem; */
}

h1{
    margin-top: 0;
    padding: 0;
    margin-left: 2.9rem;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 3rem;
}

.login-btn{
    font-size: larger;
    width: 19.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #b9b1b5;
    color: #000;
    font-weight: 500;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

input{
    height: 2rem;
    width: 18rem;
    padding: 0.1rem 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #6c25ff;
    outline: none;
    border-radius: 0.2rem;
}

label{
    color: #6c25ff;
}

/* .form-inputs:hover{
    border: 1px solid #6c25ff;
}

.form-inputs:focus{
    border: 2px solid #6c25ff;
}

input[type="text"]:focus ~ label,
.form-inputs:not(:placeholder-shown)
.form-inputs:not(:focus) ~ label{
    top: -0.5rem;
    font-size: 0.8rem;
    color: #6c25ff;
    padding: 0 0.125rem
} */


